.App {
  /*text-align: center;*/
  /*font-family: 'Pacifico', cursive;*/
  /*font-family: 'Nobile', sans-serif !important;*/
  /*font-size: 2rem;*/
}

body {
  background-color: black;
  color: navajowhite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: antiquewhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeImg {
  height: auto;
  width: 100%;
}

.bannerText{
  font-size: 4rem;
  margin-top: 120px;
  margin-bottom: 120px;
  color: beige;
}

.bannerDiv{
  width: 100%;
  position: center;

}

img{
  height: auto;
  width: 50%;
}

.cocktailSearchDiv{
  text-align: center;
  margin-bottom: 120px;
  padding: 40px;
}

.inputAndDropdown{

}

.cocktailSearch{
  height: 50px;
  width: 400px;
  border-radius: 10px;
  border-color: navajowhite;
  background-color: black;
  color: antiquewhite;
  font-size: 1.2rem;
  font-family: 'Lora', serif;
  margin-bottom: 15px;
  margin-right: 10px;
}

.cocktailSearchDropdown{
  height: 50px;
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-color: navajowhite;
  background-color: black;
  color: antiquewhite;
  font-size: 1.2rem;
  padding: 10px;
}

.searchInput {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  margin-top: 120px;
  font-size: 1.3rem;
  border-color: navajowhite;
  background-color: black;
  color: antiquewhite;
  margin-bottom: 15px;
  padding: 10px;
  margin-right: 15px;
}
